{% extends 'bohu/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- HERO SECTION -->
{% include 'bohu/partials/hero_section.html' %}

<!-- COUPLE SECTION -->
{% include 'bohu/partials/couple_section.html' %}

<!-- STORY / ABOUT SECTION -->
{% include 'bohu/partials/story_section.html' %}

<!-- EVENTS SECTION -->
{% include 'bohu/partials/events_section.html' %}

<!-- GALLERY SECTION -->
{% include 'bohu/partials/gallery_section.html' %}

<!-- SERVICES SECTION -->
{% include 'bohu/partials/services_section.html' %}

<!-- PORTFOLIO SECTION -->
{% include 'bohu/partials/portfolio_section.html' %}

<!-- QUOTE SECTION -->
{% include 'bohu/partials/quote_section.html' %}

<!-- BLOG SECTION -->
{% include 'bohu/partials/blog_section.html' %}

<!-- RSVP SECTION -->
{% include 'bohu/partials/rspv_section.html' %}

{% endblock %}
