{% load static %}
{% include 'includes/header.html' %}

<!-- start page-title -->
<section class="wpo-page-title page-title-694029ee5b033 default-title">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="wpo-breadcumb-wrap">
                    <h2>Pricing</h2>
                    <nav role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                        <ul class="breadcrumb wpo-breadcumb-wrap trail-items">
                            <li class="trail-item trail-begin"><a href="{% url 'home' %}" rel="home"><span>Home</span></a></li>
                            <li class="trail-item trail-end"><span>Pricing</span></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
    <div class="shape-1">
        <img src="{% static 'images/title-shape-1.png' %}" alt="title-shape-1">
    </div>
    <div class="shape-2">
        <img src="{% static 'images/title-shape-2.png' %}" alt="title-shape-2">
    </div>
</section>
<!-- end page-title -->

<div class="wpo-pricing-section style-2">
    <div class="container">
        <div class="wpo-pricing-wrap">
            <div class="wpo-section-title">
                <h2 class="poort-text poort-in-right">Our Awesome Pricing Plan</h2>
                <p>From intimate gatherings to grand luxury weddings, we bring together creativity, organization, and passion to design every detail with precision.</p>
            </div>
            <div class="row">
                <div class="col col-lg-4 col-md-6 col-12">
                    <div class="wpo-pricing-item wow fadeInUp" data-wow-duration="1400ms">
                        <div class="pricing-image">
                            <img src="{% static 'images/pricing-img-1.jpg' %}" alt="pricing-img-1">
                        </div>
                        <div class="wpo-pricing-item-inner">
                            <div class="wpo-pricing-top">
                                <div class="wpo-pricing-text">
                                    <h4>Basic Package</h4>
                                    <h2><small>$</small>150<span>/Monthly</span></h2>
                                </div>
                            </div>
                            <div class="wpo-pricing-bottom">
                                <div class="wpo-pricing-bottom-text">
                                    <ul>
                                        <li>Stylish makeup for bride.</li>
                                        <li>Top label arrengement</li>
                                        <li>Amazing meal &amp; breakfast</li>
                                        <li>Full body Polish</li>
                                        <li>Manicure Pedicure</li>
                                    </ul>
                                    <a class="theme-btn" href="#">Choose Plan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col col-lg-4 col-md-6 col-12">
                    <div class="wpo-pricing-item wow fadeInUp" data-wow-duration="1400ms">
                        <div class="pricing-image">
                            <img src="{% static 'images/pricing-img-2.jpg' %}" alt="pricing-img-2">
                        </div>
                        <div class="wpo-pricing-item-inner">
                            <div class="wpo-pricing-top">
                                <div class="wpo-pricing-text">
                                    <h4>Standard Package</h4>
                                    <h2><small>$</small>500<span>/Monthly</span></h2>
                                </div>
                            </div>
                            <div class="wpo-pricing-bottom">
                                <div class="wpo-pricing-bottom-text">
                                    <ul>
                                        <li>Stylish makeup for bride.</li>
                                        <li>Top label arrengement</li>
                                        <li>Amazing meal &amp; breakfast</li>
                                        <li>Full body Polish</li>
                                        <li>Manicure Pedicure</li>
                                    </ul>
                                    <a class="theme-btn" href="#">Choose Plan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col col-lg-4 col-md-6 col-12">
                    <div class="wpo-pricing-item wow fadeInUp" data-wow-duration="1400ms">
                        <div class="pricing-image">
                            <img src="{% static 'images/pricing-img-3.jpg' %}" alt="pricing-img-3">
                        </div>
                        <div class="wpo-pricing-item-inner">
                            <div class="wpo-pricing-top">
                                <div class="wpo-pricing-text">
                                    <h4>Luxury Package</h4>
                                    <h2><small>$</small>750<span>/Monthly</span></h2>
                                </div>
                            </div>
                            <div class="wpo-pricing-bottom">
                                <div class="wpo-pricing-bottom-text">
                                    <ul>
                                        <li>Stylish makeup for bride.</li>
                                        <li>Top label arrengement</li>
                                        <li>Amazing meal &amp; breakfast</li>
                                        <li>Full body Polish</li>
                                        <li>Manicure Pedicure</li>
                                    </ul>
                                    <a class="theme-btn" href="#">Choose Plan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wpo-partners-section">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="partner-grids partners-slider owl-carousel">
                    <div class="grid">
                        <img src="{% static 'images/partner-1.png' %}" alt="partner-1">
                    </div>
                    <div class="grid">
                        <img src="{% static 'images/partner-2.png' %}" alt="partner-2">
                    </div>
                    <div class="grid">
                        <img src="{% static 'images/partner-3.png' %}" alt="partner-3">
                    </div>
                    <div class="grid">
                        <img src="{% static 'images/partner-4.png' %}" alt="partner-4">
                    </div>
                    <div class="grid">
                        <img src="{% static 'images/partner-5.png' %}" alt="partner-5">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'includes/footer.html' %}