{% load static %}
<footer class="footer-builder">
    <div data-elementor-type="wp-post" data-elementor-id="1099" class="elementor elementor-1099">
        <div class="elementor-element elementor-element-9597f5b e-con-full e-flex e-con e-parent" data-id="9597f5b" data-element_type="container">
            <div class="bohu-footer wpo-site-footer">
                <div class="container">
                    <div class="wpo-upper-footer">
                        <div class="row">
                            <div class="col col-lg-7 col-md-6 col-sm-12 col-12">
                                <div class="footer-title-left">
                                    <h2>We can't wait to see all of our beloved friends and relatives at our wedding. Your presence will make our day truly special!</h2>
                                </div>
                            </div>
                            <div class="col col-lg-2 col-md-6 col-sm-12 col-12">
                                <div class="widget link-widget">
                                    <div class="widget-title">
                                        <h3>Links</h3>
                                    </div>
                                    <ul>
                                        <li><a href="{% url 'about' %}">About Us</a></li>
                                        <li><a href="{% url 'our_story_style1' %}">Story</a></li>
                                        <li><a href="{% url 'rsvp_style1' %}">RSVP</a></li>
                                        <li><a href="{% url 'gallery' %}">Gallery</a></li>
                                        <li><a href="{% url 'contact' %}">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col col-lg-3 col-md-6 col-sm-12 col-12">
                                <div class="widget link-widget">
                                    <div class="widget-title">
                                        <h3>Contacts</h3>
                                    </div>
                                    <ul>
                                        <li><a href="mailto:bohu@gmail.com" class="info-link">bohu@gmail.com</a></li>
                                        <li><a href="tel:+3165550116" class="info-link">+316555-0116</a></li>
                                        <li><a href="#" class="info-link">4517 Washington Ave. Manchester, Kentucky 39495</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpo-lower-footer">
                        <div class="row g-0">
                            <div class="col col-lg-6 col-12">
                                <p class="copyright">
                                    Copyright © <span class="current-year">{% now "Y" %}</span> | 
                                    <a href="{% url 'home' %}">Bohu</a> | All Rights Reserved
                                </p>
                            </div>
                            <div class="col col-lg-6 col-12">
                                <ul class="links">
                                    <li><a href="#"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                    <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>